/* Background Image */
html, body {
  background-image: url('../images/backgroundShapes.svg');
  -webkit-font-smoothing: antialiased;
}

/* Font Styles */
@font-face {
  font-family: "Camphor-Reg";
  src: url(../fonts/CamphorPro-Regular.ttf);
}

/* End Font Styles */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
}
/* Generic styles */
h1 {
  font-family: "Camphor-Reg";
  font-weight: 400;
  color: #1C232B;
  font-size: 32px;
  letter-spacing: .025em
}

h2 {
  font-family: "Camphor-Reg";
  color: #1C232B;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "Camphor-Reg";
  color: #1C232B;
  font-size: 20px;
}

h4 {
  font-family: "Camphor-Reg";
  color: #1C232B;
  font-size: 16px;
}

h5 {
  font-family: "Camphor-Reg";
  color: #1C232B;
  font-size: 14px;
}

p {
  font-family: "Camphor-Reg";
  color: #6F7881;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
}

li {
  font-family: "Camphor-Reg";
  color: #6F7881;
  font-size: 16px;
  line-height: 26px;
}

ul {
  padding-left: 1.5em;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding-left: 0px !important;
}

nav ul li {
  font-family: "Camphor-Reg";
  display: inline-block;
  padding: 0 0.8em 0 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .375px;
}

footer section {
  font-family: "Camphor-Reg";
  font-size: 16px;
  text-transform: uppercase;
  color: #1C232B;
}

span:visited {
  text-decoration: none;
}

span:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Color Highlights */
span.highlighted {
  color: #4E78F1;
}

a.highlighted {
  color: #4E78F1;
}

a.highlighted:hover {
  color: #3A66E5;
}

/* ID Specific styles*/

#emoji_div {
  text-align: center;
  margin-top: 4%;
}

#emoji_img {
  height: 180px;
  width: 180px;
}

#nameTitle_div {
  text-align: center;
}

#nameTitle {
  font-size: 38px;
  margin-top: 3%;
}

#hr {
  width: 49%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#navigation {
  margin-top: 1.5%;
}

.site-footer {
  margin-top: 2em;
  height: 170px;
  background-color: #F5F5F5;
  padding: 0.1em 0;
  bottom: 0;
}

#inner {
  text-align: center;
}

#email {
  margin-top: 1em;
  margin-bottom: 0;
}

#linkedin {
  margin: 0;
}

#github {
  margin: 0;
  margin-bottom: 1em;
}

#vapor_shoutout {
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 750px) {
  #hr {
    width: 60%;
  }
}

@media only screen and (max-width: 575px) {
  #hr {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  #hr {
    width: 85  %;
  }
}
